{% extends 'cv/base.html' %}

{% block content %}
  <div class="container">
    <h1 class="mt-2">Jan Dabrowski</h1>

    <div id="professionalExperience">
      <h2>Professional Experience</h2>
    </div>

    <div id="freelance">
      <h2>Freelance Jobs</h2>
    </div>

    <div id="technologies">
      <h2>Technologies</h2>
    </div>

    <div id="education">
      <h2>Education</h2>
    </div>

    <div id="languages">
      <h2>Languages</h2>
    </div>

    <div id="hobbies">
      <h2>Hobbies</h2>
    </div>
  </div>
{% endblock %}